@import "demo";

.smoovy-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scroll-target {
  width: 100%;
  height: 150vh;
  background-color: green;
  display: flex;
  align-items: center;
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
  justify-content: center;
}
