@import "demo";

$sizes: (
  small 300px,
  medium 600px,
  large 1200px
);

$colors:
  #6c5ce7,
  #a29bfe,
  #0984e3,
  #fab1a0,
  #e17055;

section {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 42px;
  color: rgba(white, .5);

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      background-color: nth($colors, 1 + $i % length($colors));
    }
  }

  @each $name, $size in $sizes {
    &.#{$name} {
      height: $size;
    }
  }
}

.smoovy-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
