# Project Custom Ignores
.history
node_modules
packages/**/*/dist
packages/**/*/coverage
**/*.tsbuildinfo
.parcel-cache
.dev
.yarn

# Turbo Ignores
.turbo

# Yarn Not-Zero-Installs
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions