# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
lerna-debug.log
/.sass-cache
.cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
.dev
yarn-error.log
testem.log
.r*_cache*
/coverage

# System Files
.DS_Store
Thumbs.db

# Package files
dist

# Plain module files
packages/*/m
