$smoovy--breakpoints: (
  xs: 320px,
  sm: 450px,
  md: 768px,
  lg: 1024px,
  xl: 1360px,
  x2l: 1440px,
  x3l: 1920px,
  x4l: 2160px
) !default;

@function breakpoint($name) {
  @return map-get($smoovy--breakpoints, $name);
}

@function bp($name) {
  @return breakpoint($name);
}
