@mixin font-faces($base-path, $font-defs: ()) {
  @each $name, $def in $font-defs {
    @each $type, $props in $def {
      $path:
        $base-path + '/' + $name + '--' + $type + '/' + $name + '--' + $type;

      @font-face {
        font-family: $name;
        src: url($path + '.woff2') format('woff2'),
             url($path + '.woff') format('woff');
        font-weight: $props;
        font-style: normal;
        font-display: fallback;
      }
    }
  }
}
