@import "@dorfjungs/scss-base/base/reset";


body {
  background-image: url(bg.png);
}

.box-wrapper {
  padding: 20%;
  overflow: hidden;
}

.box {
  &.medium {
    width: 300px;
    height: 300px;
    background-color: #273c75;
  }

  &.small {
    width: 150px;
    height: 150px;
    margin-left: 40%;
    background-color: #40739e;
  }

  &.large {
    width: 400px;
    height: 400px;
    background-color: darkgoldenrod;
    margin-left: 50%
  }
}

.spacer {
  &.medium {
    height: 200px;
  }
}
