@import "demo";

html body {
  height: revert;
}

$sizes: (
  small 300px,
  medium 600px,
  large 120vh,
  verylarge 140vh
);

$colors:
  #6c5ce7,
  #a29bfe,
  #0984e3,
  #fab1a0,
  #e17055;

section {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 42px;
  color: rgba(white, .5);

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      background-color: nth($colors, 1 + $i % length($colors));
    }
  }

  @each $name, $size in $sizes {
    &.#{$name} {
      height: $size;
    }
  }

  .big-link {
    display: block;
    height: 100%;
  }
}
