@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "@dorfjungs/scss-base/base/reset";
@import "@dorfjungs/scss-base/functions/utils";
@import "@dorfjungs/scss-base/mixins/utils";
@import "@dorfjungs/scss-base/mixins/fluidtype";

$rem-baseline: 18 - 8;

html, body {
  width: 100%;
  height: 100%;
  background-color: #0C0C0C;
  font-family: 'Roboto', sans-serif;

  @include fluid-size(font-size, 8px, 18px);

  * {
    box-sizing: border-box;
  }
}

smoovy-demo-collection {
  display: block;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;

  &:before {
    content: attr(data-headline);
    display: block;
    color: white;
    letter-spacing: 4px;
    font-size: rem(40px);
    text-transform: uppercase;

    @include fluid-size(margin-bottom, 40px, 80px);
  }
}

smoovy-demo-item {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: white;

  @include fluid-size(padding, 30px, 40px);
  @include fluid-size(margin, 40px, 80px);

  &:before {
    color: white;
    display: block;
    content: attr(data-headline);
    font-size: rem(20px);
    position: absolute;
    transform: translate3d(0, -60%, 0);
    mix-blend-mode: difference;
    left: 0;
    top: 0;

    @include fluid-size(left, 10px, 20px);
  }

  button.demo-play-btn {
    position: absolute;
    font-size: rem(8px);
    right: 0;
    bottom: 0;
    width: 40px;
    height: 30px;
    cursor: pointer;
    color: #0C0C0C;
    background-color: #f1f1f1;
  }
}
